.home-page {

    .text-zone {

        h2 {
            color: #8d8d8d;
            margin: 50px auto;
            font-weight: 400;
            font-size: 11px;
            font-family: sans-serif;
            letter-spacing: 3px;
            animation: fadeIn 1s 1.8s backwards;
        }

        a {
            margin-right: 25px;
        }

        .flat-button {
            color: #ffd700;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: 4px;
            font-family: sans-serif;
            text-decoration: none;
            padding: 10px 18px;
            border: 1px solid #ffd700;
            float: left;
            animation: fadeInAnimation 1s 1.8s backwards;
            white-space: nowrap;

            &:hover {
            background: #ffd700;
            color: #333;
            }
        }
    }

    .overlay {

        #headshot {
            max-width: 100%;
            width: 450px;
            height: auto;
            position: absolute;
            right: 10%;
            top: 50%;
            transform:  translateY(-50%);
            z-index: -5;
        }
    }

}
