.nav-bar {
    background: #181818;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr 2fr;
    align-items: center;
    text-align: center;

    .logo {
        justify-self: center;
        padding: 8px 0;
        margin: 8px;

        img {
            max-width: 100%;
            width: 60px;
            height: auto;
        }
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        gap: 3em;

        a {
            font-size: 22px;
            color: #4d4d4e;
            text-decoration: none;
            margin: 0;
            padding: 0;

            i {
                transition: all 0.3s ease-out;
            }

            &:hover {
                color: #ffd700;
                justify-self: center;
                align-self: center;

                svg {;
                    opacity: 0;
                }

                &::after {
                    opacity: 1;
                }
            }

            &:after {
                content: '';
                font-size: 1rem;
                letter-spacing: 2px;
                opacity: 0;
                transition: all 0.3s ease-out;
                position: absolute;
                left: 0;
            }

            &:first-child {
                &::after {
                    content:  'HOME';
                }
            }
        }

        a.about-link {
            &:after {
                content: 'ABOUT';
            }
        }
        a.portfolio-link {
            &:after {
                content: 'PORTFOLIO';
            }
        }
        a.contact-link {
            &:after {
                content: 'CONTACT';
            }
        }
        a.active {
            svg {
                color: #ffd700;
            }
        }
    }

    ul {
        list-style: none;
        margin-left: 0px;
        padding: 0px;

        li {
            text-align: center;

            a {

                svg {
                    max-width: 100%;
                    width: 2em;
                    height: auto;
                }

                &:hover svg {
                    color: #ffd700;
                }
            }
        }
    }
    .small {
        font-size: 1em;
    }
}
